{% extends 'base.html' %}

{% block content %}
<h3>{% block title %}Home{% endblock %}</h3>
<p>Hello World!</p>
<a href='towns'>View all active towns!</a>
<a href='player-towns'>View all your towns!</a>
{% endblock %}

{% block scripts %}
    <script src="static/js/counter.js"></script>
{% endblock %}

<!--<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> 
    </head>

    <body>
        <p id='1'>0</p>
    </body>


    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="static/js/counter.js"></script>

</html>-->