<nav class="navbar navbar-default">
    <div class="container-fluid">
        <a href='/rts'>
        <div class="col-xs-1 ogot-link">
            
                <img height='25' src='/rts/static/images/ogame_logo.png'>
            
        </div>
        </a>
        <a href='/rts/house'>
            <div class="col-xs-3 pull-right house-link">
                {% if player %}
                <p>House {{player.house}}</p>        
                    <img height=35 src='/rts/static/images/houses/small_sigils/{{player.house}}.png'>
                {% endif %}
            </div>
        </a>
    </div>
</nav>

<style>


</style>