{% extends 'base.html' %}
{% block content %}
    <table>
        <tr>
            <th>Name</th>
            <th>Army Composition</th>
            <th>House</th>
            <th>Player</th>
        </tr>
    {% for town in towns %}
        <tr>
            <td><a href='/rts/town/{{town.id}}'>{{town.name}}</a></td>
            <td>{{town.knights}}/{{town.cavalry}}/{{town.pikemen}}</td>
            <td>{{town.player.house}}</td>
            <td>{{town.player.user.username}}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}