{% extends 'base.html' %}
{% block content %}
    {% if attacks | length > 0%}
    <table style='margin: auto;'>
        <tr>
            <th colspan='1'>Origin</th>
            <th colspan='1'>Destination</th>
            <th colspan='4'>Attacking units</th>
            <th>Arrival Time</th>
        </tr>
    {% for attack in attacks %}
        <tr>
            <td><a href='/rts/town/{{attack.origin.id}}'><img height=35 src='/rts/static/images/houses/250px/250px-{{attack.origin.player.house.lower()}}.png'>{{attack.origin.name}}</a></td>
            <td><a href='/rts/town/{{attack.origin.id}}'><img height=35 src='/rts/static/images/houses/250px/250px-{{attack.destination.player.house.lower()}}.png'>{{attack.destination.name}}</a></td>
            <td><img src="/rts/static/unit_sword.png"> {{attack.knights}}</td>
            <td><img src="/rts/static/unit_light.png"> {{attack.cavalry}}</td>
            <td><img src="/rts/static/unit_spear.png"> {{attack.pikemen}}</td>
            <td><img src="/rts/static/unit_doge.png" width="20" height="20"> {{attack.doges}}</td>
            <td>{{attack.arrival_time.ctime()}}</td>
        </tr>
    {% endfor %}
    </table>
    {% else %}
    <h3>You have no incoming attacks</h3>
    {% endif %}
{% endblock %}