{% extends 'base.html' %}

{% block content %}
<a href='towns'>View all the towns!</a><br>
{% if player %}
    <a href='house'>View your house!</a><br>
    <a href='attacks'> View all your attacks!</a><br>
{% elif user %}
    <h3>Hello {{ user.username }}</h3><br>
    <p>You have not yet created a player for OGame of thrones.</p><br>
    <p>Would you like to?</p><br><br>
    <form action='/rts/create-player' method='post'>
        <input type="submit" value='Join OGameOfThrones!'>
    </form>
{% else %}
    <h3>Hello Anonymous</h3>
    <p>You need an account to join this game</p>
    <a href='/auth'><input type='button' value='login'></a>
{% endif %}
{% endblock %}

{% block scripts %}
    <script src="static/js/counter.js"></script>
{% endblock %}