{% extends 'base.html' %}

{% block css %}
<link rel='stylesheet' type='text/css' href='/rts/static/style/town.css'>
{% endblock %}

{% block content %}
    <table class="table-left">
        <thead>
            <tr>
                <th colspan="4">Production</th>
            </tr>
        </thead>
        <tr>
            <td><img width=30 src="/rts/static/food.svg"> : {{current_town.get_production(current_town.farm)}}</td>
            <td><img width=30 src="/rts/static/golden_ignot.svg"> : {{current_town.get_production(current_town.gold_mine)}}</td>
            <td><img width=30 src="/rts/static/iron_ignot.svg"> : {{current_town.get_production(current_town.quarry)}}</td>
            <td><img width=30 src="/rts/static/log.svg"> : {{current_town.get_production(current_town.lumber_mill)}}</td>
        </tr>
    </table>
    <table class="table-right">
        <thead>
            <tr>
                <th colspan="4">Resources</th>
            </tr>
        </thead>
        <tr>
            <td><img width=30 src="/rts/static/food.svg"> : {{current_town.food}}</td>
            <td><img width=30 src="/rts/static/golden_ignot.svg"> : {{current_town.gold}}</td>
            <td><img width=30 src="/rts/static/iron_ignot.svg"> : {{current_town.iron}}</td>
            <td><img width=30 src="/rts/static/log.svg"> : {{current_town.wood}}</td>
        </tr>
    </table>
    <table class="table-left">
        <thead>
            <tr>
                <th colspan="7">Buildings</th>
            </tr>
        </thead>
        <tr>
            <td>
                Building
            </td>
            <td colspan="4">
                Upgrade cost
            </td>
            <td>
                Time
            </td>
            <td>
                Upgrade
            </td>
        </tr>
        <tr>
            <td>
                Barrack({{current_town.barracks}})
            </td>
            <td>
                <img width=30 src="/rts/static/food.svg"> : {{current_town.get_costs(current_town.barracks)}}
            </td>
            <td>
                <img width=30 src="/rts/static/golden_ignot.svg"> : {{current_town.get_costs(current_town.barracks)}}
            </td>
            <td>
                <img width=30 src="/rts/static/iron_ignot.svg"> : {{current_town.get_costs(current_town.barracks)}}
            </td>
            <td>
                <img width=30 src="/rts/static/log.svg"> : {{current_town.get_costs(current_town.barracks)}}
            </td>
            <td>
                <img width=30 src="/rts/static/clock.svg"> : {{current_town.get_time(current_town.barracks)}}
            </td>
            <td>
                <form method="POST" action="/rts/purchase-building">
                    <input type=hidden value="barrack" name="building-name">
                    <input type="submit" name="upgrade-barrack" value="OK">
                    <input type="hidden" name="townid" value={{current_town.id}}>
                </form>    
            </td>
        </tr>
        <tr>
            <td>
                Farm({{current_town.farm}})
            </td>
            <td>
                <img width=30 src="/rts/static/food.svg"> : {{current_town.get_costs(current_town.farm)}}
            </td>
            <td>
                <img width=30 src="/rts/static/golden_ignot.svg"> : {{current_town.get_costs(current_town.farm)}}
            </td>
            <td>
                <img width=30 src="/rts/static/iron_ignot.svg"> : {{current_town.get_costs(current_town.farm)}}
            </td>
            <td>
                <img width=30 src="/rts/static/log.svg"> : {{current_town.get_costs(current_town.farm)}}
            </td>
            <td>
                <img width=30 src="/rts/static/clock.svg"> : {{current_town.get_time(current_town.farm)}}
            </td>
            <td>
                <form method="POST" action="/rts/purchase-building">
                    <input type=hidden value="farm" name="building-name">
                    <input type="submit" name="upgrade-farm" value="OK">
                    <input type="hidden" name="townid" value={{current_town.id}}>
                </form>    
            </td>
        </tr>
        <tr>
            <td>
                Gold mine({{current_town.gold_mine}})
            </td>
            <td>
                <img width=30 src="/rts/static/food.svg"> : {{current_town.get_costs(current_town.gold_mine)}}
            </td>
            <td>
                <img width=30 src="/rts/static/golden_ignot.svg"> : {{current_town.get_costs(current_town.gold_mine)}}
            </td>
            <td>
                <img width=30 src="/rts/static/iron_ignot.svg"> : {{current_town.get_costs(current_town.gold_mine)}}
            </td>
            <td>
                <img width=30 src="/rts/static/log.svg"> : {{current_town.get_costs(current_town.gold_mine)}}
            </td>
            <td>
                <img width=30 src="/rts/static/clock.svg"> : {{current_town.get_time(current_town.gold_mine)}}
            </td>
            <td>
                <form method="POST" action="/rts/purchase-building">
                    <input type=hidden value="mine" name="building-name">
                    <input type="submit" name="upgrade-mine" value="OK">
                    <input type="hidden" name="townid" value={{current_town.id}}>
                </form> 
            </td>
        </tr>
        <tr>
            <td>
                Iron quarry({{current_town.quarry}})
            </td>
            <td>
                <img width=30 src="/rts/static/food.svg"> : {{current_town.get_costs(current_town.quarry)}}
            </td>
            <td>
                <img width=30 src="/rts/static/golden_ignot.svg"> : {{current_town.get_costs(current_town.quarry)}}
            </td>
            <td>
                <img width=30 src="/rts/static/iron_ignot.svg"> : {{current_town.get_costs(current_town.quarry)}}
            </td>
            <td>
                <img width=30 src="/rts/static/log.svg"> : {{current_town.get_costs(current_town.quarry)}}
            </td>
            <td>
                <img width=30 src="/rts/static/clock.svg"> : {{current_town.get_time(current_town.quarry)}}
            </td>
            <td>
                <form method="POST" action="/rts/purchase-building">
                    <input type=hidden value="quarry" name="building-name">
                    <input type="submit" name="upgrade-quarry" value="OK">
                    <input type="hidden" name="townid" value={{current_town.id}}>
                </form> 
            </td>
        </tr>
        <tr>
            <td>
                Lumber mill({{current_town.lumber_mill}})
            </td>
            <td>
                <img width=30 src="/rts/static/food.svg"> : {{current_town.get_costs(current_town.lumber_mill)}}
            </td>
            <td>
                <img width=30 src="/rts/static/golden_ignot.svg"> : {{current_town.get_costs(current_town.lumber_mill)}}
            </td>
            <td>
                <img width=30 src="/rts/static/iron_ignot.svg"> : {{current_town.get_costs(current_town.lumber_mill)}}
            </td>
            <td>
                <img width=30 src="/rts/static/log.svg"> : {{current_town.get_costs(current_town.lumber_mill)}}
            </td>
            <td>
                <img width=30 src="/rts/static/clock.svg"> : {{current_town.get_time(current_town.lumber_mill)}}
            </td>
            <td>
                <form method="POST" action="/rts/purchase-building">
                    <input type=hidden value="lumber" name="building-name">
                    <input type="submit" name="upgrade-lumber" value="OK">
                    <input type="hidden" name="townid" value={{current_town.id}}>
                </form> 
            </td>
        </tr>
        <tr>
            <td>
                Wall({{current_town.wall}})
            </td>
            <td>
                <img width=30 src="/rts/static/food.svg"> : {{current_town.get_costs(current_town.wall)}}
            </td>
            <td>
                <img width=30 src="/rts/static/golden_ignot.svg"> : {{current_town.get_costs(current_town.wall)}}
            </td>
            <td>
                <img width=30 src="/rts/static/iron_ignot.svg"> : {{current_town.get_costs(current_town.wall)}}
            </td>
            <td>
                <img width=30 src="/rts/static/log.svg"> : {{current_town.get_costs(current_town.wall)}}
            </td>
            <td>
                <img width=30 src="/rts/static/clock.svg"> : {{current_town.get_time(current_town.wall)}}
            </td>
            <td>
                <form method="POST" action="/rts/purchase-building">
                    <input type=hidden value="wall" name="building-name">
                    <input type="submit" name="upgrade-wall" value="OK">
                    <input type="hidden" name="townid" value={{current_town.id}}>
                </form> 
            </td>
        </tr>
    </table>
    
    <form class="table-right" method="POST" action="/rts/purchase-unit">
    <table>
        <thead>
            <tr>
                <th colspan="6">Units</th>
            </tr>
        </thead>
        <tr>
            <td>
                Building
            </td>
            <td colspan="4">
                Unit cost
            </td>
            <td>
                Amount
            </td>
        </tr>
        <tr>
            <td>
                Knight({{current_town.knights}})
            </td>
            <td>
                <img width=30 src="/rts/static/food.svg"> : {{current_town.get_unit_costs('knight')['food']}}
            </td>
            <td>
                <img width=30 src="/rts/static/golden_ignot.svg"> : {{current_town.get_unit_costs('knight')['gold']}}
            </td>
            <td>
                <img width=30 src="/rts/static/iron_ignot.svg"> : {{current_town.get_unit_costs('knight')['iron']}}
            </td>
            <td>
                <img width=30 src="/rts/static/log.svg"> : {{current_town.get_unit_costs('knight')['wood']}}
            </td>
            <td>
                <input type="text" name="amount_of_knights">
            </td>
        </tr>
        <tr>
            <td>
                Cavalry({{current_town.cavalry}})
            </td>
            <td>
                <img width=30 src="/rts/static/food.svg"> : {{current_town.get_unit_costs('cavalry')['food']}}
            </td>
            <td>
                <img width=30 src="/rts/static/golden_ignot.svg"> : {{current_town.get_unit_costs('cavalry')['gold']}}
            </td>
            <td>
                <img width=30 src="/rts/static/iron_ignot.svg"> : {{current_town.get_unit_costs('cavalry')['iron']}}
            </td>
            <td>
                <img width=30 src="/rts/static/log.svg"> : {{current_town.get_unit_costs('cavalry')['wood']}}
            </td>
            <td>
                <input type="text" name="amount_of_cavalry">
            </td>
        </tr>
        <tr>
            <td>
                Pikemen({{current_town.pikemen}})
            </td>
            <td>
                <img width=30 src="/rts/static/food.svg"> : {{current_town.get_unit_costs('pikemen')['food']}}
            </td>
            <td>
                <img width=30 src="/rts/static/golden_ignot.svg"> : {{current_town.get_unit_costs('pikemen')['gold']}}
            </td>
            <td>
                <img width=30 src="/rts/static/iron_ignot.svg"> : {{current_town.get_unit_costs('pikemen')['iron']}}
            </td>
            <td>
                <img width=30 src="/rts/static/log.svg"> : {{current_town.get_unit_costs('pikemen')['wood']}}
            </td>
            <td>
                <input type="text" name="amount_of_pikemen">
            </td>
        </tr>
        <tr>
            <td colspan=5>
            </td>
            <td>
               <input type="submit" value="recruit"> 
            </td>
        </tr>
    </table>
    <input type="hidden" name="townid" value={{current_town.id}}>
    </form>

{% endblock %}

{% block scripts %}
{% endblock %}