.house-info-panel {
	border: 1px solid rgba(0,0,0,0.1);
	width: 25%;
	min-width: 150px;
	display: inline-block;
}

.ogot-link {
	margin: 15px 0px 15px 0px;
}


.house-link {
	margin: 10px 0px 10px 0px;
	text-align: right;
}

.house-link p {
	margin: 0px;
	color: #777;
	font-size: 18px;
	font-family: "Helvetica Neue";
	display: inline;
	margin-right: 5px;
}

.house-link p:hover {
	text-decoration: underline;
}

body {
	padding-bottom: 50px;
}

.house-info-panel img {
	width: 100%;
	display: inline-block;
}

.town-list {
	border: 1px solid rgba(0,0,0,0.1);
	float: right;
	width: 74%;
}

.town-list table {
	width: 100%;
}

h1 {
	text-align: center;
}

h2 {
	padding: 10px 0px 10px 0px;
	margin: 0px;
}

.table-full {
	width: 100%;
	display: inline-table;
}

.table-left {
	width: 56%;
    display: inline-table;
}

.table-right {
	margin-left:30px;
	width: calc(44% - 34px);
    display: inline-table;
}

.table-right table {
	width:100%;
}

.table-right input[type=text] {
	width: 100px;
}

.units {
	width: calc(100% - 30px);	
}

h2{
    text-align: center;
}

th {
	text-align: center;
}

tr td {
	padding: 10px ;
}

tr td:not(:nth-child(1)) {
	border-left:1px solid #e1e1e1;
}

tr:not(:nth-child(1)) td {
	border-top:1px solid #e1e1e1;
}
