.buildings {
	width: 56%;
    display: inline;
}

.units {
	margin-left:30px;
	width: calc(50% - 4px);
    display: Inline-table;
}

h2{
    text-align: center;
}

th {
	text-align: center;
}

tr td {
	padding: 10px ;
}

tr td:not(:nth-child(1)) {
	border-left:3px solid #e1e1e1;
}

tr:not(:nth-child(1)) td {
	border-top:3px solid #e1e1e1;
}
